.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  text-align: start;
}

.links {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
button {
  border-radius: 10px;
}
.contact-btn {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.home-page {
  margin: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.home-page h1 {
  font-size: 2rem;
  padding-top:60px;
}